.user-form {
  margin-top: 5rem;
}
.app {
  border: 1px solid #000;
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.name {
  background-color: bisque;
}
.app ul {
  display: flex;
  justify-content: left;
  padding: 0;
  flex-direction: column;
}
.app ul li {
  list-style: none;
}
